{% extends 'base.html' %}
{% block content %}

<div class="whole-login">
    <nav>
        <div class="acme nav blue accent-4 nav-wrapper">
            
        <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons">class</i> Classroom</a>
        </div>
    </nav>

    <div class="details left">
        <h1 class="bree">The Classroom App</h1>  
        <h6 class="grey-text text-darken-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nam sint vero eveniet reiciendis odio impedit optio, non, laborum voluptates ea est ipsum ab fuga quos dignissimos quod eius molestiae? </h6>
    </div>
    <div class="frame container">
            <div class="form">
            <h4 class="center acme">Login</h4>
            <form action="" method="post">
                {% csrf_token %}
                
                    <div class="input-field col s12">
                        <input id="user_name" type="text" class="validate">
                        <label for="user_name">Username</label>
                    </div>
                    <br>
                    <div class="input-field col s12">
                        <input id="password" type="text" class="validate">
                        <label for="password">Password</label>
                    </div>
                <button class="btn-flat white-text blue accent-4 waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
            <h6>Don't have an account? <a>Join us now</a> </h6>
            </div>
        </div>
</div>


{% endblock content %}