.message {
    padding: 10px;
    align-self: center;
    border: 3px solid blue;
    background-color: rgb(101, 205, 240);
    color: white;
}
.test-result-frame {
    padding: 20px;
    background-color: rgb(255, 255, 101);
    border: 1px solid rgb(255, 219, 13);
    margin: 20px auto;
    border-radius: 25px;
}