.test-list-whole {
    background-color: indigo;
}
.list-main {
    background-color: rgb(255, 0, 98);
    border-right: 2px solid gray;
    border-left: 2px solid gray;
    height: 90vh;
    overflow-y: scroll;
    padding: 20px 50px;
}
.classname-test-list{
    text-decoration: underline;
}
.test-box {
    border: 2px solid grey;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    padding: 30px;
    margin: 20px;
}

.test-list-title {
    width: 90%;
    margin: 15px auto;
    border-bottom: 1px solid grey;
    padding: 10px;
    margin: 0px;
    flex: 1;
}
.test-list-title > a {
    color: black;
}
.add-question-box {
    padding: 40px;
    margin: 30px;
}

.teacher-sidebar {
    position: fixed;
    background-color: rebeccapurple;
    height: 100vh;
    /* background-color: gold; */
    /* height: 90vh; */
}
.teacher-class-tabs {
    margin-left: 340px !important;
    padding: 0px !important;
}
.tests {
    max-height: 400px;
    overflow-y: scroll;
}
.hws {
    max-height: 400px;
    overflow-y: scroll;
}