{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="create-classroom-whole">
    <nav>
        <div class="acme nav blue accent-4 nav-wrapper">
            
        <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons">class</i> Classroom</a>
        </div>
    </nav>

    <div class="container">
        {% if message %}
            <h6 class="message">{{message}}</h6>
        {% endif %}
    </div>

    <div class="create-box">
        <h4 class="bree center">Create classroom</h4>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="classname" id="" placeholder="Classname" required>
            <input type="text" name="teacher1" id="Teacher 1" placeholder="Teacher 1" required>
            <input type="text" name="teacher2" id="Teacher2" placeholder="Teacher 2">
            <input type="text" name="teacher3" id="Teacher3" placeholder="Teacher 3">
            <button class="btn-flat white-text blue accent-4 waves-effect waves-light" type="submit" name="action">Create
                        <i class="material-icons right">send</i>
                </button>
        </form>
    </div>
</div>

{% endblock content %}